<div class="card-edit-preview">
    <div class="card-layout card-layout-{{cardDetails.layoutId}}">
        <div class="logo">
            <img ng-src="{{cardDetails.logo}}">
        </div>
        <div class="full-name">
            {{cardDetails.fullName}}
        </div>
        <div class="occupation">
            {{cardDetails.occupation}}
        </div>
        <div class="contact-details">
            {{cardDetails.phone}} 
            <span ng-if="cardDetails.phone != null && cardDetails.phone != ''">|</span>
            {{cardDetails.email}} 
            <span ng-if="cardDetails.email != null && cardDetails.email != ''">|</span>
            {{cardDetails.webpage}} 
            <span ng-if="cardDetails.webpage != null && cardDetails.webpage != ''">|</span>
            {{cardDetails.addressLine1}} {{cardDetails.addressLine2}}
        </div>
    </div>
</div>