<div class="card-edit-preview">
    <div class="card-layout {{cardDetails.layout}}">
        <!--<img ng-src="{{cardDetails.logo}}">-->
        <div class="full-name">
            {{cardDetails.fullName}}
        </div>
        <div class="occupation">
            {{cardDetails.occupation}}
        </div>
        <div class="contact-details">
            {{cardDetails.email}} |
            {{cardDetails.phone}} |
            {{cardDetails.website}} |
            {{cardDetails.address1}} |
            {{cardDetails.address2}}
        </div>
    </div>
</div>