<div class="card-edit-preview">
    <div class="card-layout card-layout-{{cardDetails.layoutId}}">
        <div class="logo">
            <img ng-src="{{cardDetails.logo}}">
        </div>
        <div class="full-name">
            {{cardDetails.fullName}}
        </div>
        <div class="occupation">
            {{cardDetails.occupation}}
        </div>
        <div class="contact-details">
            {{cardDetails.mobile}} 
            <span ng-if="cardDetails.mobile != null && cardDetails.mobile != ''">|</span>
            {{cardDetails.email}} 
            <span ng-if="cardDetails.email != null && cardDetails.email != ''">|</span>
            {{cardDetails.webpage}} 
            <span ng-if="cardDetails.webpage != null && cardDetails.webpage != ''">|</span>
            {{cardDetails.address}} 
            <span ng-if="cardDetails.address != null && cardDetails.address != ''">|</span>
            {{cardDetails.skype}}
        </div>
    </div>
</div>