<div class="card-edit-preview">
    <div class="card-layout card-layout-{{cardDetails.layoutId}}">
        <div class="logo">
            <img ng-src="{{cardDetails.logo}}">
        </div>
        <div class="full-name">
            {{cardDetails.fullName}}
        </div>
        <div class="occupation">
            {{cardDetails.occupation}}
        </div>
        <div class="contact-details">
            {{cardDetails.phone}} |
            {{cardDetails.email}} |
            {{cardDetails.website}}<br> |
            {{cardDetails.address1}} |
            {{cardDetails.address2}}
        </div>
    </div>
</div>