@import "_constants.scss";
@import "_animations.scss";



/** GENERAL STYLES */

body {
    font-family: 'Roboto';
    font-weight: 300;
    margin: 0;
    padding: 0;
    color: $default-font-color;
    /*    -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-overflow-scrolling: touch;*/
    @media (min-width: $xhdpi) {
        font-size: 5.001em;
        background: url(../img/xxhdpi/background.png) repeat-y;
    }
    @media (min-width: $retina) and (max-width: $xhdpi) {
        font-size: 3.334em;
        background: url(../img/xhdpi/background.png) repeat-y;
    }
    @media (min-width: $hdpi) and (max-width: $retina) {
        font-size: 2.963555555555556em;
        background: url(../img/retina/background.png) repeat-y;
    }
    @media (min-width: $mdpi) and (max-width: $hdpi) {
        font-size: 2.5005em;
        background: url(../img/hdpi/background.png) repeat-y;
    }
    @media (max-width: $mdpi) {
        font-size: 1.667em;
        background: url(../img/mdpi/background.png) repeat-y;
    }
}

a {
    outline: none;
    color: $default-font-color;
    text-decoration: none;
}

.form {
    @include box-sizing;
    width: 75%;
    margin: auto;
    .input-holder {
        margin-bottom: 0.8em;
    }
    input {
        background: transparent;
        border: none;
        border-bottom: solid 0.115em $default-border-color;
        outline: none;
        width: 100%;
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 0.65em;
        outline: none;
        color: $default-font-color;
    }
    .edit-input-image-holder {
        position: relative;
        overflow: hidden;
        text-align: center;
        height: 1.8em;
        input {
            font-size: 1.3em;
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
            cursor: pointer;
        }
    }
}

.btn {
    @include box-sizing;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-size: 0.65em;
    color: $default-font-color;
    border: solid 0.1em $default-border-color;
    background: #f8f8f4;
    padding: 0.6em 1em;
    text-transform: uppercase;
    margin: 0;
    vertical-align: top;
    line-height: 1.35em;
    outline: none;
}

.btn-full-width {
    width: 100%;
}

.text {
    font-size: 0.72em
}

.main-content {
    @include box-sizing;
    padding-top: 2em;
}

.paper-pocket {
    width: 100%;
    overflow:hidden;
    margin-top: 3em;
    height: 17.4em;
    @media (min-width: $xhdpi) {
        background: url(../img/xxhdpi/pocket_paper.png) no-repeat;
    }
    @media (min-width: $retina) and (max-width: $xhdpi) {
        background: url(../img/xhdpi/pocket_paper.png) no-repeat;
    }
    @media (min-width: $hdpi) and (max-width: $retina) {
        background: url(../img/retina/pocket_paper.png) no-repeat;
    }
    @media (min-width: $mdpi) and (max-width: $hdpi) {
        background: url(../img/hdpi/pocket_paper.png) no-repeat;
    }
    @media (max-width: $mdpi) {
        background: url(../img/mdpi/pocket_paper.png) no-repeat;
    }
}

.loading-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 10000;
    .loading-text {
        text-align: center;
        font-size: 0.8em;
        line-height: 4em;
        position: absolute;
        top: 50%;
        margin-top: -2em;
        width: 100%;
        background: #fff;
        color: $default-font-color;
    }
}



/** ACTION MESSAGES */

.action-message {
    @include box-sizing;
    position: fixed;
    top: -5em;
    width: 100%;
    font-size: 0.55em;
    padding: 1.7em 0.7em;
    color: #666;
    z-index: 101;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background: #f8f8f4;
}
.action-message-success {
    top: 3.3em;
    border-left: solid 0.3em green;
}
.action-message-error {
    top: 3.3em;
    border-left: solid 0.3em red;
}
.action-message-info {
    border-left: solid 0.3em blue;
    top: 3.3em;
}
.action-message-success-login {
    top: 0;
    border-left: solid 0.3em green;
}
.action-message-error-login {
    top: 0;
    border-left: solid 0.3em red;
}
.action-message-info-login {
    border-left: solid 0.3em blue;
    top: 0;
}




/** LOGIN STYLES */

.paper-pocket-login {
    margin-top: 0;
}
.logo-holder {
    margin: 0 auto 1.6em;
    width: 6.925em;
    height: 3em;
    @media (min-width: $xhdpi) {
        background: url(../img/xxhdpi/logo.png) no-repeat;
    }
    @media (min-width: $retina) and (max-width: $xhdpi) {
        background: url(../img/xhdpi/logo.png) no-repeat;
    }
    @media (min-width: $hdpi) and (max-width: $retina) {
        background: url(../img/retina/logo.png) no-repeat;
    }
    @media (min-width: $mdpi) and (max-width: $hdpi) {
        background: url(../img/hdpi/logo.png) no-repeat;
    }
    @media (max-width: $mdpi) {
        background: url(../img/mdpi/logo.png) no-repeat;
    }
}

.connect-ln {
    @include box-sizing;
    display: block;
    cursor: pointer;
    text-decoration: none;
    margin: 1.7em auto 1em;
    padding-left: 2.5em;
    text-transform: uppercase;
    color: #fff;
    width: 75%;
    height: 1.75em;
    line-height: 1.75em;
    @media (min-width: $xhdpi) {
        background: url(../img/xxhdpi/in.png) no-repeat #0f78b4;
    }
    @media (min-width: $retina) and (max-width: $xhdpi) {
        background: url(../img/xhdpi/in.png) no-repeat #0f78b4;
    }
    @media (min-width: $hdpi) and (max-width: $retina) {
        background: url(../img/retina/in.png) no-repeat #0f78b4;
    }
    @media (min-width: $mdpi) and (max-width: $hdpi) {
        background: url(../img/hdpi/in.png) no-repeat #0f78b4;
    }
    @media (max-width: $mdpi) {
        background: url(../img/mdpi/in.png) no-repeat #0f78b4;
    }
    .connect-ln-text {
        font-size: 0.53em;
    }
}

.login-form {
    .login-input-holder:nth-child(2) {
        margin-bottom: 1.5em;
    }
    .login-submit-holder {
        margin-bottom: 0.3em;
    }
    .btn {
        font-size: 0.65em;
        padding: 0.5em 1em;
        width: 47%;
        &:first-child {
            margin-right: 3%;
        }
    }
    .forgot-pass-link {
        text-align: center;
        a {
            text-transform: uppercase;
            font-size: 0.46em;
        }

    }
}

.separator-holder {
    text-align: center;
    margin-bottom: 1em;
    font-size: 0.5em;
    @media (min-width: $xhdpi) {
        background: url(../img/xxhdpi/separator-or.png) no-repeat center;
    }
    @media (min-width: $retina) and (max-width: $xhdpi) {
        background: url(../img/xhdpi/separator-or.png) no-repeat center;
    }
    @media (min-width: $hdpi) and (max-width: $retina) {
        background: url(../img/retina/separator-or.png) no-repeat center;
    }
    @media (min-width: $mdpi) and (max-width: $hdpi) {
        background: url(../img/xhdpi/separator-or.png) no-repeat center;
    }
    @media (max-width: $mdpi) {
        background: url(../img/mdpi/separator-or.png) no-repeat center;
    }
}



/** HEADER AND MAIN MENU */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 101;
    height: 2em;
    @media (min-width: $xhdpi) {
        background: url(../img/xxhdpi/header.png) no-repeat;
    }
    @media (min-width: $retina) and (max-width: $xhdpi) {
        background: url(../img/xhdpi/header.png) no-repeat;
    }
    @media (min-width: $hdpi) and (max-width: $retina) {
        background: url(../img/retina/header.png) no-repeat;
    }
    @media (min-width: $mdpi) and (max-width: $hdpi) {
        background: url(../img/hdpi/header.png) no-repeat;
    }
    @media (max-width: $mdpi) {
        background: url(../img/mdpi/header.png) no-repeat;
    }
}

.header-title {
    margin: auto;
    margin-top: 0.5em;
    width: 6.25em;
    height: 0.7em
}

@each $item in $header-title-collection {
    .header-title-#{$item} {
        @media (min-width: $xhdpi) {
            background: url("../img/xxhdpi/title_#{$item}.png") no-repeat;
        }
        @media (min-width: $retina) and (max-width: $xhdpi) {
            background: url("../img/xhdpi/title_#{$item}.png") no-repeat;
        }
        @media (min-width: $hdpi) and (max-width: $retina) {
            background: url("../img/retina/title_#{$item}.png") no-repeat;
        }
        @media (min-width: $mdpi) and (max-width: $hdpi) {
            background: url("../img/hdpi/title_#{$item}.png") no-repeat;
        }
        @media (max-width: $mdpi) {
            background: url("../img/mdpi/title_#{$item}.png") no-repeat;
        }
    }
}

.icon {
    display: block;
    position: absolute;
    top: 0.34em;
    left: 0.34em;
    width: 1em;
    height: 1em;
}

.icon-right {
    left: auto;
    right: 0.34em;
}

@each $item in $icon-collection {
    .icon-#{$item} {
        @media (min-width: $xhdpi) {
            background: url("../img/xxhdpi/icon_#{$item}.png") no-repeat;
        }
        @media (min-width: $retina) and (max-width: $xhdpi) {
            background: url("../img/xhdpi/icon_#{$item}.png") no-repeat;
        }
        @media (min-width: $hdpi) and (max-width: $retina) {
            background: url("../img/retina/icon_#{$item}.png") no-repeat;
        }
        @media (min-width: $mdpi) and (max-width: $hdpi) {
            background: url("../img/hdpi/icon_#{$item}.png") no-repeat;
        }
        @media (max-width: $mdpi) {
            background: url("../img/mdpi/icon_#{$item}.png") no-repeat;
        }
    }
}

.main-menu-container {
    position:absolute;
    z-index: 100;
    top: 1.85em;
    left: -11em;
    height: 22.1em;
    overflow:hidden;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    @media (min-width: $xhdpi) {
        background: url(../img/xxhdpi/m_paper.png) no-repeat;
    }
    @media (min-width: $retina) and (max-width: $xhdpi) {
        background: url(../img/xhdpi/m_paper.png) no-repeat;
    }
    @media (min-width: $hdpi) and (max-width: $retina) {
        background: url(../img/retina/m_paper.png) no-repeat;
    }
    @media (min-width: $mdpi) and (max-width: $hdpi) {
        background: url(../img/hdpi/m_paper.png) no-repeat;
    }
    @media (max-width: $mdpi) {
        background: url(../img/mdpi/m_paper.png) no-repeat;
    }
}

.mainMenuVisible {
    left: 0;
}

.main-menu-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 88%;
    @media (min-width: $xhdpi) {
        background: url(../img/xxhdpi/m_logo.png) center bottom no-repeat;
    }
    @media (min-width: $retina) and (max-width: $xhdpi) {
        background: url(../img/xhdpi/m_logo.png) center bottom no-repeat;
    }
    @media (min-width: $hdpi) and (max-width: $retina) {
        background: url(../img/retina/m_logo.png) center bottom no-repeat;
    }
    @media (min-width: $mdpi) and (max-width: $hdpi) {
        background: url(../img/hdpi/m_logo.png) center bottom no-repeat;
    }
    @media (max-width: $mdpi) {
        background: url(../img/mdpi/m_logo.png) center bottom no-repeat;
    }
    li {
        margin: 0;
        padding: 0;
        a {
            @include box-sizing;
            display: block;
            font-size: 0.8em;
            line-height: 2.9em;
            border-bottom: solid 1px #ddd;
            padding: 0 1em 0 3em;
            background-position: 0.9em center;
            background-repeat: no-repeat;
        }

        @each $item in $menu-collection {
            .menu-item-#{$item} {
                @media (min-width: $xhdpi) {
                    background-image: url("../img/xxhdpi/m_icon_#{$item}.png");
                }
                @media (min-width: $retina) and (max-width: $xhdpi) {
                    background-image: url("../img/xhdpi/m_icon_#{$item}.png");
                }
                @media (min-width: $hdpi) and (max-width: $retina) {
                    background-image: url("../img/retina/m_icon_#{$item}.png");
                }
                @media (min-width: $mdpi) and (max-width: $hdpi) {
                    background-image: url("../img/hdpi/m_icon_#{$item}.png");
                }
                @media (max-width: $mdpi) {
                    background-image: url("../img/mdpi/m_icon_#{$item}.png");
                }
            }
        }

    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: none;
}
.overlay-transparent {
    background-color: rgba(0,0,0,0.5);
}
.show-overlay {
    display: block;
}



/** SIGN UP */

.signup-form {
    margin-top: 1.4em;
    .signup-input-holder {

    }
    .signup-submit-holder {
        margin: 1.2em 0 0.3em;
    }
    .signup-note {
        text-align: center;
        font-size: 0.5em;
        a {
            text-decoration: underline;
        }
    }
}



/** FORGOT PASSWORD */

.forgot-password-form {
    padding-top: 2.5em;
    .text {
        font-size: 0.5em;
        text-align: center;
    }
    .forgot-password-input-holder {
        padding: 1.7em 0;
    }
}




/** MAIN CONTENT */

.home-bc {
    display: block;
}

.home-create-bc {
    margin-top: 1.1em;
    height: 8.6875em;
    width: 100%;
    @media (min-width: $xhdpi) {
        background: url(../img/xxhdpi/tm_card.png) no-repeat;
    }
    @media (min-width: $retina) and (max-width: $xhdpi) {
        background: url(../img/xhdpi/tm_card.png) no-repeat;
    }
    @media (min-width: $hdpi) and (max-width: $retina) {
        background: url(../img/retina/tm_card.png) no-repeat;
    }
    @media (min-width: $mdpi) and (max-width: $hdpi) {
        background: url(../img/hdpi/tm_card.png) no-repeat;
    }
    @media (max-width: $mdpi) {
        background: url(../img/mdpi/tm_card.png) no-repeat;
    }
}

.home-my-bc {
    margin-top: 0.6em;
    width: 100%;
    height: 8.6875em;
    @media (min-width: $xhdpi) {
        background: url(../img/xxhdpi/my_card.png) no-repeat;
    }
    @media (min-width: $retina) and (max-width: $xhdpi) {
        background: url(../img/xhdpi/my_card.png) no-repeat;
    }
    @media (min-width: $hdpi) and (max-width: $retina) {
        background: url(../img/retina/my_card.png) no-repeat;
    }
    @media (min-width: $mdpi) and (max-width: $hdpi) {
        background: url(../img/hdpi/my_card.png) no-repeat;
    }
    @media (max-width: $mdpi) {
        background: url(../img/mdpi/my_card.png) no-repeat;
    }
}


/** CARD LIST AND LAYOUT */

.card-list {
    margin: 0;
    padding: 0;
    padding-top: 1.25em;
    text-align: center;
    li {
        position: relative;
        list-style: none;
        margin-bottom: 1em;
        text-align: center;
        &:after {
            content: '';
            width: 100%;
            height: 3.0375em;
            position: absolute;
            bottom: -2.64em;
            left: 0;
            @media (min-width: $xhdpi) {
                background: url(../img/xxhdpi/pocket.png) no-repeat;
            }
            @media (min-width: $retina) and (max-width: $xhdpi) {
                background: url(../img/xhdpi/pocket.png) no-repeat;
            }
            @media (min-width: $hdpi) and (max-width: $retina) {
                background: url(../img/retina/pocket.png) no-repeat;
            }
            @media (min-width: $mdpi) and (max-width: $hdpi) {
                background: url(../img/hdpi/pocket.png) no-repeat;
            }
            @media (max-width: $mdpi) {
                background: url(../img/mdpi/pocket.png) no-repeat;
            }
        }
    }
}

.empty-card-list {
    text-align: center;
    margin: 2em auto;
    width: 12.375em;
    height: 12.25em;
    overflow:hidden;
    @media (min-width: $xhdpi) {
        background: url(../img/xxhdpi/paper_empty.png) no-repeat;
    }
    @media (min-width: $retina) and (max-width: $xhdpi) {
        background: url(../img/xhdpi/paper_empty.png) no-repeat;
    }
    @media (min-width: $hdpi) and (max-width: $retina) {
        background: url(../img/retina/paper_empty.png) no-repeat;
    }
    @media (min-width: $mdpi) and (max-width: $hdpi) {
        background: url(../img/hdpi/paper_empty.png) no-repeat;
    }
    @media (max-width: $mdpi) {
        background: url(../img/mdpi/paper_empty.png) no-repeat;
    }
    .text {
        padding: 2em 1.7em 2.5em;
    }
}

.card-layout-in-list {
    width: 12em;
    height: 5.2em;
    display: inline-block;
    overflow: hidden;
}

.card-list-user {
    position: relative;
    .delete-card-btn {
        position: absolute;
        top: -0.452em;
        right: 1em;
        width: 1.2em;
        height: 1em;
        cursor: pointer;
        @media (min-width: $xhdpi) {
            background: url(../img/xxhdpi/2delete.png) no-repeat;
        }
        @media (min-width: $retina) and (max-width: $xhdpi) {
            background: url(../img/xhdpi/2delete.png) no-repeat;
        }
        @media (min-width: $hdpi) and (max-width: $retina) {
            background: url(../img/retina/2delete.png) no-repeat;
        }
        @media (min-width: $mdpi) and (max-width: $hdpi) {
            background: url(../img/hdpi/2delete.png) no-repeat;
        }
        @media (max-width: $mdpi) {
            background: url(../img/mdpi/2delete.png) no-repeat;
        }
    }
}

.card-layout {
    width: 12em;
    height: 6.62em;
    display: inline-block;
    text-align: center;
    .logo {
        height: 2.143em;
        padding: 0.3em 0.5em;
        img {
            height: 100%;
            vertical-align: bottom;
        }
    }
    .full-name {
        /*text-transform: uppercase;*/
        font-weight: 500;
        font-size: 0.75em;
        padding: 0 1.5em;
    }
    .occupation {
        font-size: 0.45em;
        line-height: 0.95em;
        margin-bottom: 1em;
        color: #289ba7;
        padding: 0 1.5em;
    }
    .contact-details {
        font-size: 0.4em;
        line-height: 1.75em;
        padding: 0 1.5em;
    }
}

@for $i from 1 through 4 {
    .card-layout-#{$i} {
        @media (min-width: $xhdpi) {
            background: url("../img/xxhdpi/card#{$i}.png") no-repeat;
        }
        @media (min-width: $retina) and (max-width: $xhdpi) {
            background: url("../img/xhdpi/card#{$i}.png") no-repeat;
        }
        @media (min-width: $hdpi) and (max-width: $retina) {
            background: url("../img/retina/card#{$i}.png") no-repeat;
        }
        @media (min-width: $mdpi) and (max-width: $hdpi) {
            background: url("../img/hdpi/card#{$i}.png") no-repeat;
        }
        @media (max-width: $mdpi) {
            background: url("../img/mdpi/card#{$i}.png") no-repeat;
        }
    }
}

.card-layout-2 {
    .full-name {
        color: #5b5b5b;
    }
}


/** ADD OR EDIT CARD */

.add-edit-card-holder {
    height: 22.0125em;
    width: 100%;
    @media (min-width: $xhdpi) {
        background: url("../img/xxhdpi/pocket_paper_edit.png") no-repeat;
    }
    @media (min-width: $retina) and (max-width: $xhdpi) {
        background: url("../img/xhdpi/pocket_paper_edit.png") no-repeat;
    }
    @media (min-width: $hdpi) and (max-width: $retina) {
        background: url("../img/retina/pocket_paper_edit.png") no-repeat;
    }
    @media (min-width: $mdpi) and (max-width: $hdpi) {
        background: url("../img/hdpi/pocket_paper_edit.png") no-repeat;
    }
    @media (max-width: $mdpi) {
        background: url("../img/mdpi/pocket_paper_edit.png") no-repeat;
    }
}
.add-edit-card-form {
    padding-top: 1.7em;
}
.card-edit-preview {
    text-align: center;
    padding: 0.485em 0;
}



/** CARD SHARE */

.share-card-holder {
    @include box-sizing;
    height: 14em;
    width: 100%;
    @media (min-width: $xhdpi) {
        background: url("../img/xxhdpi/pocket_paper_preview.png") no-repeat;
    }
    @media (min-width: $retina) and (max-width: $xhdpi) {
        background: url("../img/xhdpi/pocket_paper_preview.png") no-repeat;
    }
    @media (min-width: $hdpi) and (max-width: $retina) {
        background: url("../img/retina/pocket_paper_preview.png") no-repeat;
    }
    @media (min-width: $mdpi) and (max-width: $hdpi) {
        background: url("../img/hdpi/pocket_paper_preview.png") no-repeat;
    }
    @media (max-width: $mdpi) {
        background: url("../img/mdpi/pocket_paper_preview.png") no-repeat;
    }
}
.qr-code {
    text-align: center;
    padding: 1.2em 0 0.5em;
}
.separator-send {
    text-align: center;
    margin-bottom: 1em;
    font-size: 0.5em;
    @media (min-width: $xhdpi) {
        background: url(../img/xxhdpi/separator_send.png) no-repeat center;
    }
    @media (min-width: $retina) and (max-width: $xhdpi) {
        background: url(../img/xhdpi/separator_send.png) no-repeat center;
    }
    @media (min-width: $hdpi) and (max-width: $retina) {
        background: url(../img/retina/separator_send.png) no-repeat center;
    }
    @media (min-width: $mdpi) and (max-width: $hdpi) {
        background: url(../img/hdpi/separator_send.png) no-repeat center;
    }
    @media (max-width: $mdpi) {
        background: url(../img/mdpi/separator_send.png) no-repeat center;
    }
}
.share-email-submit-holder {
    margin-top: 1em;
}